.navbar-default {
    background-color: #333333;
    border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-default .navbar-nav>li>a {
    color: #FFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #dadada;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #dadada;
  background-color: transparent;
}
