.navbar-default {
    background-color: #333333;
    border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-default .navbar-nav>li>a {
    color: #FFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #dadada;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #dadada;
  background-color: transparent;
}

#baseframe{
  margin-left: 30px;
  margin-right: 30px;
  /*height: 100px;*/
  box-shadow: 0 0 5px #888888;
  border:1px solid;
}
